// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html, body { background: white; }

html { height: 100%; }

body {
  color: black;
  //font-family: MonoLisa, "Operator Mono", "IBM Plex", "JetBrains Mono", monospace;
  font-family: Whitney SSm A,Whitney SSm B,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-size: 1.3rem;
  line-height: 1.75;
  margin: 0;
  min-height: 100%;
}

.post-meta { text-align: right; }

h2, h3, h4, h5, h6 { margin-top: 3rem; }

hr { margin: 2rem 0; }

p { margin: 1.6rem 0; }

li { margin: .9rem 0; }

*:target { background: yellow; }

.w {
  width: fit-content;
  max-width: 750px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

@media only screen and (max-width: 750px) {
  .w {
    max-width: 80%;
    padding: 0 2rem;
  }
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table, th, td {
  width: 100%;
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

:not(pre) > code {
  background: linear-gradient(rgb(231, 242, 255), rgba(252, 211, 77, 0));
  font-family: MonoLisa, "Operator Mono", "IBM Plex", "JetBrains Mono", monospace;
  font-style: italic;
  font-size: 14px;
  padding: 0 4px;
  margin: 0 -4px;
}

pre code {
  border: 3px dotted rgb(197, 219, 232);
  font-family: MonoLisa, "Operator Mono", "IBM Plex", "JetBrains Mono", monospace;
  font-size: 14px;
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  padding: 1rem;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.embed-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.embed-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
